
/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

@media (max-width: 767px) {

.submit-bottom form input[type=text]{}

}



/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	
	#header .block-right{}
	.contact-area{text-align: center}
	#service .service-header p{font-size: 15px}
	.submit-bottom form input[type=text]{width: 200px;}
	#service .service-tab ul{margin-right: 50px;}
	.edit-tab h1{padding-bottom: 10px; padding-top:0px;font-size: 22px;}
	#service .service-tab ul li a{font-size: 15px;}
	#contant-1 .block-right-img{ padding-top: 45px;}
	.gallery-area p{font-size: 15px;}
	.contant-2-img{text-align: center}
	
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {

.contact-area{text-align: center}
.submit-bottom form input[type=text]{width: 200px;}
#service .service-tab ul{margin-right: 50px;}
.edit-tab h1{padding-bottom: 10px; padding-top:0px;font-size: 22px;}
#service .service-tab ul li a{font-size: 15px;padding-right: 20px;}
#service .service-tab ul li a i{margin-right: 10px}
#service .service-tab ul li a:hover{padding-right: 0px}
#contant-1 .block-right-img{ padding-top: 45px;}
.gallery-area p{font-size: 15px;}
.contant-2-img{text-align: center}
#service .service-header p{font-size:14px}

.submit-area{margin-left: 28px}
.submit-header h3, .gallery-area h1, #service .service-header h1{font-size: 25px}
.contant-1-head h1, .contant-2-header h1{font-size: 25px}
.tm-header h2{font-size: 25px}
.submit-area{margin-left: 0px}
.submit-bottom form input[type="submit"]{display:block}
.submit-bottom form input[type=text]{margin-right: 34px;margin-top: 7px;}
.submit-bottom form input[type="submit"]{display: block;margin-top: 20px;}
#service .service-tab ul{float:none}
#service .service-tab ul{margin-right: 0;}
.support-link ul li{padding:10px;}
.social-icon a{margin-right:5px}

}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {

.contact-area{text-align: center}
.submit-bottom form input[type=text]{margin-right: 34px;margin-top: 7px;width: 330px;}
.submit-bottom form input[type="submit"]{display: block;margin-top: 20px;}
#service .service-tab ul{float:left}
#service .service-tab ul{margin-right: 50px;}
.edit-tab h1{padding-bottom: 10px; padding-top:0px;font-size: 22px;}
#service .service-tab ul li a{font-size: 15px;padding-right: 20px;}
#service .service-tab ul li a i{margin-right: 10px}
#service .service-tab ul li a:hover{padding-right: 0px}
#contant-1 .block-right-img{ padding-top: 45px;}
.gallery-area p{font-size: 15px;}
.contant-2-img{text-align: center}
#service .service-header p{font-size:14px}
.submit-area{margin-left: 28px}
.submit-header h3, .gallery-area h1, #service .service-header h1{font-size: 30px}
.contant-1-head h1, .contant-2-header h1{font-size: 30px}
}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	
	
}