<!-- Post -->
<article class="post-sm">
	<!-- Post Image -->
	<div class="post-thumb">
		<a href="blog-single.html"><img class="w-100" src="@@img-src" alt="Post-Image"></a>		
	</div>
	<!-- Post Title -->
	<div class="post-title">
		<h3><a href="blog-single.html">@@post-title</a></h3>
	</div>
	<!-- Post Meta -->
	<div class="post-meta">
		<ul class="list-inline post-tag">
			<li class="list-inline-item">
				<img src="images/testimonial/feature-testimonial-thumb.jpg" alt="author-thumb">
			</li>
			<li class="list-inline-item">
				<a href="#">Thomas Johnson</a>
			</li>
			<li class="list-inline-item">
				August 8, 2017
			</li>
		</ul>
	</div>
	<!-- Post Details -->
	<div class="post-details">
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
	</div>
</article>