<!-- Call to action Community -->
<div class="cta-community shadow">
	<div class="row align-items-center">
		<div class="col-lg-9 text-center text-lg-left">
			<div class="content">
				<!-- Title -->
				<h2>Ready To Join Our Community?</h2>
				<!-- Description -->
				<p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat. </p>
			</div>
		</div>
		<div class="col-lg-3 text-center text-lg-right mt-4 mt-lg-0">
			<div class="action-button">
				<!-- Call Button -->
				<a href="contact.html" class="btn btn-main-sm">Join now</a>
			</div>
		</div>
	</div>
</div>