<!-- Featured Member -->
<div class="founder">
	<!-- Member Image -->
	<img class="w-100" src="@@img-src" alt="featured-member">
	<!-- Name -->
	<h2>@@name</h2>
	<!-- position -->
	<cite>@@position</cite>
	<!-- Description -->
	<p>@@description</p>
	<!-- Social Sites -->
	<ul class="list-inline social-links">
		<li class="list-inline-item"><a href="https://themefisher.com/"><i class="ti-facebook"></i></a></li>
		<li class="list-inline-item"><a href="https://themefisher.com/"><i class="ti-twitter"></i></a></li>
		<li class="list-inline-item"><a href="https://themefisher.com/"><i class="ti-instagram"></i></a></li>
		<li class="list-inline-item"><a href="https://themefisher.com/"><i class="ti-dribbble"></i></a></li>
	</ul>
</div>