<!-- Modal -->
<div class="modal fade jd-modal" id="android-developer" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Android Developer</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <!-- Location -->
          <div class="block-2">
            <div class="title">
              <p>Location</p>
            </div>
            <div class="details">
              <p>Hamburg, Germany</p>
            </div>
          </div>
          <!-- About -->
          <div class="block-2">
            <div class="title">
              <p>About You</p>
            </div>
            <div class="details">
              <p>With experience in creating visual directions for tech products, you are able to set the standard and lead designers along the way. You are not only able to execute beautiful user experiences yourself but communicate those concepts to the team and clients.</p>
            </div>
          </div>
          <!-- About -->
          <div class="block-2">
            <div class="title">
              <p>You will need to Have</p>
            </div>
            <div class="details">
              <ul>
                <li><span class="ti-forward"></span>3+ years Development experience in a startup environment</li>
                <li><span class="ti-forward"></span>Strong knowledge of iOS, Android & Web Platforms</li>
                <li><span class="ti-forward"></span>Dynamic presentation and communication skills</li>
                <li><span class="ti-forward"></span>Self-motivation: You manage your own milestones, deadlines, and priorities</li>
              </ul>
            </div>
          </div>
          <!-- Applictaion Title -->
          <div class="form-title">
            <h3>Apply Now</h3>
          </div>
          <!-- Application Form -->
          <form action="#">
            <div class="row">
              <!-- Name -->
              <div class="col-lg-6 col-md-12">
                <input class="form-control main" type="text" placeholder="Name" required>
              </div>
              <!-- Email Address -->
              <div class="col-lg-6 col-md-12">
                <input class="form-control main" type="email" placeholder="Email Address" required>
              </div>
              <!-- Portfolio -->
              <div class="col-lg-6 col-md-12">
                <input class="form-control main" type="text" placeholder="Portfolio Website Link" required>
              </div>
              <!-- Github -->
              <div class="col-lg-6 col-md-12">
                <input class="form-control main" type="text" placeholder="Github/Stackoverflow Link" required>
              </div>
              <!-- About You -->
              <div class="col-md-12">
                <textarea class="form-control main" name="about" id="" rows="10" placeholder="Write Something About You"></textarea>
              </div>
              <!-- Submit Button -->
              <div class="col-12 text-right">
                <button class="btn btn-main-md">Apply Now</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>