<!-- Team -->
<div class="team-sm">
	<!-- Team Member Image -->
	<div class="image">
		<img class="w-100" src="@@img-src" alt="member-image">
		<!-- Social Contacts -->
		<div class="social-links">
			<ul class="list-inline">
				<li class="list-inline-item"><a href="https://themefisher.com/"><i class="ti-facebook"></i></a></li>
				<li class="list-inline-item"><a href="https://themefisher.com/"><i class="ti-twitter"></i></a></li>
				<li class="list-inline-item"><a href="https://themefisher.com/"><i class="ti-instagram"></i></a></li>
				<li class="list-inline-item"><a href="https://themefisher.com/"><i class="ti-dribbble"></i></a></li>
			</ul>
		</div>
	</div>
	<!-- Name -->
	<h3>@@name</h3>
	<!-- Position -->
	<cite>@@position</cite>
	<!-- Description -->
	<p>@@description</p>
</div>